<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form onsubmit="return false;">
      <input id="username" type="text" placeholder="username" name="username" />
      <input id="password" type="text" placeholder="password" name="password" />
      <input id="name" type="text" placeholder="name" name="name" />
      <input id="yob" type="text" placeholder="yob" name="yob" />
      <button onclick="register()">Register</button>
      <a href="/auth/login">Login</a>
    </form>
  </body>
  <script>
    function register() {
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;
      const name = document.getElementById('name').value;
      const yob = document.getElementById('yob').value;

      const data = {
        username,
        password,
        name,
        yob,
      };

      fetch('/auth/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then((res) => res.json())
        .then((result) => {
          if (result.statusCode === 200) {
            alert(result.message);
            window.location.href = '/auth/login';
          }
        })
        .catch((error) => {
          alert(error.message);
        });
    }
  </script>
</html>
