<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form onsubmit="return false;"> 
        <input id="name" type="text" placeholder="name" name="name" />
        <input id="yob" type="text" placeholder="yob" name="yob" />
        <button onclick="update()">Update information</button>
      </form>
</body>
<script>
    
    function update(){

    }
</script>
</html>